---
title: Custom Bot Intent Verification
description: A short guide to help you answer the privileged intent verification application for custom bots.
published: 1
date: 2026-06-11T22:11:25.534Z
tags: 
editor: markdown
dateCreated: 2026-06-11T22:04:47.406Z
---

> **Note:** This only affects custom bots that have more than 10,000 unique users across all servers it is in combined. If your bot does not have this many users then you can disreagrd this page.
{.is-warning}

# Overview
> **Note:** Unless Discord changes it at a later date, you will have to keep re-verifying your bot once a year, so please keep a link to this guide for future applications. If you forget the link, you can always reach out to our [support team](https://cakey.bot/support).
{.is-warning}

TBD

# Form Fill-Out Guide
> **Note:** This guide does NOT guarentee your application will be accepted. This guide should be sufficient for Discord to approve it, however, at the end of the day the application is decided on by Discord. If you run into complications or followup questions from Discord, please reach out to our [support team](https://cakey.bot/support).
{.is-danger}

Discord has a fairly straight forward application form which will ask various questions. For select menus, select the option suggested by this guide and for any text input sections you can copy/opaste the text directly from the code-blocks provided in this guide. This guide should be laid out in the same order as Discord's application form.