---
title: Custom Bot Intent Verification
description: A short guide to help you answer the privileged intent verification application for custom bots.
published: 1
date: 2026-06-11T22:04:47.406Z
tags: 
editor: markdown
dateCreated: 2026-06-11T22:04:47.406Z
---

# Overview
TBD