---
title: Custom Bot Intent Verification
description: A short guide to help you answer the privileged intent verification application for custom bots.
published: 1
date: 2026-06-11T22:07:07.785Z
tags: 
editor: markdown
dateCreated: 2026-06-11T22:04:47.406Z
---

> **Note:** This only affects custom bots that have more than 10,000 unique users across all servers it is in combined. If your bot does not have this many users then you can disreagrd this page.
{.is-warning}

> **Note:** This guide does NOT guarentee your application will be accepted. These should be sufficient for Discord to approve it however at the end of the day the application is decided on by Discord. If you run into complications or followup questions from Discord, please reach out to our [support team](https://cakey.bot/support).
{.is-danger}

# Overview
TBD